<head>
  <title>CREDITS.</title>
  <script type="text/javascript" src="js/script.js"></script>
  <link rel="stylesheet" href="css/parallax.css">
</head>
<div class="topNav">
  <a id="current" class="luna-page">
    <i class="fas fa-angle-down"></i> CREDITS.
  </a>
  <div id="myLinks">
    <a href="#projects" id="projects">PROJECTS.</a>
    <a href="#tracks" id="credits">TRACKS.</a>
  </div>
</div>
<div id="myDiv" class="parallax">
  <div class="discog" id="list">
    <div class="post" ng-repeat="myTrack in myTracks">
      <a href="{{getTrackLink($index)}}">
        <img ng-src="{{getCoverArt(myTrack)}}" style="clear:both;">
        <small>{{getTrackName($index)}}</i></small>
      </a>
    </div>
  </div>
  <div class="parallax_layer parallax_layer--back">
      <div ng-repeat="myImage in myImages">
        <a href="{{getImagePath(myImage)}}">
          <img class="homeimg" ng-style="setImageStyle()" ng-src="{{getImagePath(myImage)}}"/>
        </a>
      </div>
  </div>
</div>
