<head>
  <title>MOOD.</title>
  <link rel="stylesheet" href="css/media.css">
  <script type="text/javascript" src="js/mood.js"></script>
</head>
<div class="topNav" id="tNav">
  <a href="javascript:void(0);" id="current" class="luna-page">
    <i class="fas fa-angle-down"></i> MOOD.
  </a>
  <div id="myLinks">
    <a href="#press" id="press">PRESS.</a>
  </div>
</div>

<div id="pics" class="media">
  <div class="column">
    <div ng-repeat="myImage in myImages">
      <a href="{{getImagePath(myImage)}}" download="islandboyluna">
        <img style="width:100%" ng-src="{{getImagePath(myImage)}}"/>
      </a>
    </div>
  </div>
  <div class="column">
    <div ng-repeat="myImage in myImagesTwo">
      <a href="{{getImagePath(myImage)}}" download="islandboyluna">
        <img style="width:100%" ng-src="{{getImagePath(myImage)}}"/>
      </a>
    </div>
  </div>
  <div class="column">
    <div ng-repeat="myImage in myImagesThree">
      <a href="{{getImagePath(myImage)}}" download="islandboyluna">
        <img style="width:100%" ng-src="{{getImagePath(myImage)}}"/>
      </a>
    </div>
  </div>
  <div class="column">
    <div ng-repeat="myImage in myImagesFour">
      <a href="{{getImagePath(myImage)}}" download="islandboyluna">
        <img style="width:100%" ng-src="{{getImagePath(myImage)}}"/>
      </a>
    </div>
  </div>
</div>
