.parallax {
      display: block;
      perspective: 1px;
      height: 100vh;
      left: 0;
      margin: 0 0 0 -30px;
      overflow-x: hidden;
      overflow-y: auto;
}

.parallax_layer {
      position: absolute;
      margin-left: -30px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
}

.parallax_layer--title {
    transform: translateZ(-0.5px) scale(1);
    z-index: 9999;
}

.parallax_layer--front {
    transform: translateZ(-2px) scale(2.0);
    z-index: 9998;
}

.img_front {
    z-index: 9998;
    margin: -120px 0 0 -155px;
}

.parallax_layer--back {
    transform: translateZ(-1.5px) scale(2.5);
    margin-top: 0px;
    z-index: 1;
}

.img_back {
    z-index: 1;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    float: left;
    overflow: hidden;
}

.parallax_layer--base {
    transform: translateZ(-2.5px) scale(3);
    margin: 0 auto;
    display: block;
    z-index: -9999;
}

.img_base {
    z-index: -9999;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    float: left;
    overflow: hidden;
}
