:root {
    --text-color: #111;
    --text-hover: #dcdde1;
    --bg-color: #fff;
}
html{
  transition-duration: .2s;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}
body {
  transition-duration: .2s;
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  height:100%;
  padding: 0px;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: var(--text-color) !important;
}
.track {
  background-size: cover;
  background-repeat: no-repeat;
  filter:blur(10px) grayscale(25%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0px auto;
  padding: 0px;
  z-index: -10;
}
.track:after{
  z-index: -9;
  content: '';
  position: absolute;
  background: rgba(245, 246, 250,0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.luna-head{
  transition-duration: .2s;
  transform-origin: left top 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  text-align: left;
  width: 160px;
  top: -11px;
  left: 20px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  color: var(--text-color);
  opacity: 1;
  z-index: 300;
  text-decoration: none;
}
.luna-head:hover {
  color: var(--text-hover);
}
.luna-page{
  transition-duration: .2s;
  transform-origin: left top 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
  text-align: right;
  /* width: 250px; */
  top: -5px;
  right: -2px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  color: var(--text-color);
  opacity: 1;
  z-index: 100;
  text-decoration: none;
}
.luna-page:hover {
  color: var(--text-hover);
}
.grid-box {
  transition-duration: .2s;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 750px;
  width: 100%;
  height: 100px;
  border-radius: 3px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0,0);
}
.grid-box-text {
  transition-duration: .2s;
  position: absolute;
  line-height: 25px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: auto;
  top: 20%;
  right: 0;
  left: 0;
  float: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}
.grid-box-discog {
  transition-duration: .2s;
  position: absolute;
  line-height: 25px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: auto;
  top: 27px;
  right: 0;
  left: 0;
  float: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}

.bio{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: right;
  /* top right bottom left */
  padding: 0px 15px 0px 15px;
  top: 170px;
  /* border-radius: 5px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* height: 350px; */
  font-size: 15px;
  color: black;
}
.discog{
  text-align: center;
  z-index: 2;
}
.bio a, .discog a{
  transition-duration: .2s;
  text-decoration: none;
  color: var(--text-color);
}
.bio > a:hover, .discog > a:hover{
  text-decoration: none;
  color: var(--text-hover);
}
.grid-row{
  transition-duration: .2s;
  position: relative;
  float: left;
  text-align: center;
  padding: 0px;
  height: 100%;
  width: 20%;
  padding: 0px 0;
}
.grid-row-small{
  transition-duration: .2s;
  position: relative;
  float: left;
  text-align: center;
  padding: 0px;
  height: 100%;
  width: 33.333%;
  padding: 0px 0;
}
.grid-element {
  /* box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */
  transition-duration: .2s;
  text-align: center;
  padding: 0px;
  height: 100%;
  width: 100%;
  float: left;
}

.grid-element:nth-child(even){
  width: 0px;
  height: 100%;
  margin: 0px;
  padding: 0px 0;
  display: none;
  position: relative;
}
.grid-desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  margin: auto;
  padding: 0px 0;
  transition-duration: .2s;
  font-size: 40px;
  /* background: red; */
}
.grid-icon {
  transition-duration: .2s;
  text-align: center;
  height: 100%;
  font-size:59px;
}
.grid-icon:hover {
  opacity: .9;
}
.grid-icon:active{
  opacity: .9;
}
.spotify {
  color:#1db954 !important;
}
.itunes {
  color: #111111 !important;
}
.twitter {
  color:#1da1f2 !important;
}
.instagram {
  color:#e1306c !important;
}
.bandcamp {
  color:#659AA8 !important;
}
.youtube {
  color:#FC0D1B !important;
}
.soundcloud {
  color:#ff8800 !important;
}
nav {
  transform: translate(-100%) rotate(90deg);
  transform-origin: right bottom 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 18px;
  width: 520px;
  text-align: center;
  z-index: 200;
}
ul {
  z-index: 200;
  text-align: center;
  position: fixed;
  height: 18px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  list-style: none;
  z-index: 2000;
}
li {
  z-index: 200;
  text-align: center;
  float: right;
  opacity: 1;
}
li > a {
  z-index: 2000;
  transition-duration: .2s;
  text-align: right;
  padding: 0 2px;
  font-size: 20px;
  text-decoration: none;
  color: var(--text-color);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  transform-origin: left top 0;
}
li > a:hover {
  color: var(--text-hover);
}
.currentPage {
  color: var(--text-hover);
}

.post {
  width: 350px;
  margin: 0px auto;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  overflow: hidden;
}

.post a{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.post small{
  margin: 0px;
  padding: 0px;
  transition-duration: .2s;
}
.post small:hover {
  color: var(--text-hover);
}

.post img {
  padding: 0px;
  margin: 0px auto;
  float: none;
  display: block;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid rgba(0,0,0,0);
  max-width: 300px;
  transition-duration: .2s;
}
.post img:hover {
  border: 2px solid var(--text-hover);
}

.topNav {
  top:0px;
  right: 0px;
  position: fixed;
  width: 148px;
  z-index: 420;
}

#myLinks {
  /* width: 250px; */
  transition-duration: .2s;
  margin-top: 35px;
  text-align: right;
  display: none;
}
#myLinks a {
  color: var(--text-color);
  transition-duration: .2s;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}
#myLinks a:hover {
  cursor: pointer;
  color: #fff;
  background: rgba(50, 50, 50,.7);
}
.luna-moon{
  position: fixed;
  right: 10px;
  top: 1px;
  transform: rotate(230deg);
  font-size: 18px;
}
* {
    box-sizing: border-box;
}
.media {
  transition-duration: .2s;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  /* top right bottom left */
  padding: 37px 20px 20px 20px;
}

.homeimg {
  position: absolute;
  opacity: 0.7;
}
.column {
  transition-duration: .2s;
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  transition-duration: .2s;
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* ------------- portrait (split view with wrds) --------------- */
@media (min-width: 320px) and (max-width: 812px) and (orientation : portrait) {
  /* .abbriviate[data-abbr]::after {
      content: attr(data-abbr);
  }
  .abbriviate span { display: none; } */
  /* .bio {
    background-color: rgba(255, 255, 255, 1);
  } */
  .grid-box{
  height: 100%;
  padding: 0px 0;
  background-color: rgba(0,0,0,0);
  }
  .grid-row{
  float: none;
  cursor: pointer;
  line-height: 75px;
  width: 100%;
  height: 20%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border-bottom: 1px solid rgba(1,1,1,.5); */
  background: rgba(255,255,255,.7);
  }
  .grid-row-small{
    float: none;
    cursor: pointer;
    line-height: 75px;
    width: 100%;
    height: 33.333%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid rgba(1,1,1,.2);
  }
  .grid-row-small:hover, .grid-row:hover{
    background-color: rgba(255,255,255,.1);
  }
  .grid-row-small:active, .grid-row:active{
    background-color: rgba(255,255,255,.1);
  }
  .grid-row-small:hover .grid-icon {
    color: #48dbfb;
  }
  .grid-row-small:hover .grid-desc {
    color: #48dbfb;
  }
  .grid-row:hover .grid-icon {
    color: #48dbfb;
  }
  .grid-row:hover .grid-desc {
    color: #48dbfb;
  }
  .grid-element {
    transition-duration: .2s;
    width: 50%;

  }
  .grid-element:nth-child(even){
    width: 50%;
    display: inline;
  }
  .grid-icon{
    height: 100%;
    font-size: 50px;
  }
  .luna-head{
    transform: rotate(90deg);
    transform-origin: left top 0;
    left: 46px;
    top:-4px;
    position: fixed;
    float: left;
  }
}

/* ---------------- landscape (just vertical icons) ------------ */
@media (max-width: 320px){
  .luna-head{
    transform: rotate(90deg);
    transform-origin: left top 0;
    left: 46px;
    top:-4px;
    position: fixed;
    float: left;
  }
  .grid-box{
    height: 100%;
    padding: 0px 0;
    background-color: rgba(0,0,0,0);
  }
  .grid-row{
    float: none;
    cursor: pointer;
    line-height: 75px;
    width: 100%;
    height: 20%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    transition-duration: .2s;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  .grid-row-small{
    float: none;
    cursor: pointer;
    line-height: 75px;
    width: 100%;
    height: 33.333%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    transition-duration: .2s;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  .grid-row-small:hover, .grid-row:hover{
    transition-duration: .2s;
    background-color: rgba(255,255,255,.1);
  }
  .grid-row-small:active, .grid-row:active{
    background-color: rgba(255,255,255,.1);
  }
  .grid-element {
    transition-duration: .2s;
    width: 100%;
  }
  .grid-element:nth-child(even){
    transition-duration: .2s;
    display: none;
    width: 0px;
  }
  .grid-icon{
    height: 100%;
    font-size: 50px;
  }
}
